# @see https://github.com/cri-o/packaging/blob/main/README.md#add-the-cri-o-repository-1
Types: deb
URIs: https://download.opensuse.org/repositories/isv:/cri-o:/stable:/{{ kubernetes_version }}/deb/
Suites: /
Components:
Signed-By: {{ keyring }}
