#SPDX-License-Identifier: MIT-0
---
- name: Gathering facts
  setup:
    filter:
      - ansible_distribution_release

- name: Download fresh keyring
  become: true
  get_url:
    url: "https://pkgs.tailscale.com/stable/raspbian/{{ ansible_distribution_release }}.noarmor.gpg"
    dest: /usr/share/keyrings/tailscale-archive-keyring.gpg

- name: Download fresh list
  become: true
  get_url:
    url: "https://pkgs.tailscale.com/stable/raspbian/{{ ansible_distribution_release }}.tailscale-keyring.list"
    dest: /etc/apt/sources.list.d/tailscale.list

- name: Install tailscale
  become: true
  package:
    name: tailscale
    state: latest
    update_cache: true

- name: Enable tailscale
  become: true
  systemd_service:
    name: tailscaled
    enabled: true
    state: started
  register: result

- pause:
    prompt: "Enter tailscale auth-key:"
    echo: false
  run_once: true
  register: tailscale_auth_key_prompt
  when:
    - result.status.Result == "success"
    - tailscale_auth_key == None or tailscale_auth_key == ""

- set_fact:
    tailscale_auth_key: "{{ tailscale_auth_key_prompt.user_input }}"
  when:
    - tailscale_auth_key_prompt is defined
    - not tailscale_auth_key_prompt.failed
  no_log: true

- name: Login to tailnet
  become: true
  command: |-
    tailscale up --auth-key='{{ tailscale_auth_key }}' --advertise-tags='{{ ['tag:'] | product(tailscale_tags) | map('join') | join(',') }}'
  when:
    - result.status.Result == "success"
    - tailscale_auth_key is defined
    - tailscale_auth_key != ""
  no_log: true
